{% style %}
  .section-wrapper {
    background: {{ section.settings.bg-color }};
  }

  .section-title {
    color: {{ section.settings.text-color }};
  }
{% endstyle %}

<div class="section-wrapper">
  <h1 class="section-title">{{ section.settings.title-text }}</h1>
</div>

{% schema %}
{
  "name": "Liquid Section",
  "settings": [
    {
      "type": "text",
      "id": "title-text",
      "label": "Add Title",
      "default": "Title" 
    },
    {
      "type": "color",
      "id": "text-color",
      "label": "Text Color",
      "default": "#ffffff" 
    },
    {
      "type": "color",
      "id": "bg-color",
      "label": "Background Color",
      "default": "#000000" 
    },
  ],
  "presets": [
    {
      "name": "Liquid Section"
    }
  ]
}
{% endschema %}

