{% style %}
  .section-wrapper {
    background: #000000;
  }

  .section-title {
    color: #ffffff;
  }
{% endstyle %}

<div class="section-wrapper">
  <h1 class="section-title">Custom Liquid Section</h1>
</div>

{% schema %}
{
  "name": "Custom Liquid",
  "settings": [
    {
      "type": "text",
      "id": "title-text",
      "label": "Add Title",
      "default": "Title" 
    }
  ],
  "presets": [
    {
      "name": "Custom Liquid"
    }
  ]
}
{% endschema %}

