<h1>{{ section.settings.add-title }}</h1>

{% schema %}
{
  "name": "Custom Liquid",
  "settings": [
    {
      "id": "add-title",
      "type": "text",
      "label": "Add a title here"
    }
  ],
  "presets": [
    {
      "name": "Custom Liquid"
    }
  ]
}
{% endschema %}

