{% style %}
  .recommendation {
    display: flex;
    align-items: center;
  }
  .photos-wrapper {
    display: flex;
  }
  .review-indicator {
    width: 30%;
  }
  .review-recommendation-photos {
    width: 70%;
  }
  .5star {
    background: #555555;
  }
  .5star-progress {
    background: red;
    width: 20%;
    height: 100%;
  }
{% endstyle %}

<div class="product-review-widget-row container recommendation">
  
  <div class="review-indicator">
    <p>based on 50 reviews</p>
    <div class="indicator-wrapper">
      <div class="5star">
        <div class="5star-progress"></div>
      </div>
    </div>
  </div>

  <div class="review-recommendation-photos">
    <h4>93% would recommend these products</h4>
    <div class="photos-wrapper">
    {% for block in section.blocks %}
      {% if block.type == "reviews" %}
        {% if block.settings.review_img != blank %}
          <img src="{{ block.settings.review_img | img_url }}">
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
  
</div>


{% for block in section.blocks %}
  {% if block.settings.review_img != blank %}
    <img src="{{ block.settings.review_img | img_url }}">
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Review",
    "settings": [],
    "blocks": [
      {
        "type": "reviews",
        "name": "reviews",
        "settings": [
          {
            "type": "image_picker",
            "id": "review_img",
            "label": "Review Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Review"
      }
    ]
  }
{% endschema %}