{{ 'slideshow-dev.css' | asset_url | stylesheet_tag }}

<div class="main-carousel">
  <div class="carousel-cell">...</div>
  <div class="carousel-cell">...</div>
  <div class="carousel-cell">...</div>
</div>

{% schema %}
  {
    "name": "Slideshow - Dev",
    "settings": [],
    "presets": [
      {
        "name": "Slideshow - Dev"
      }
    ]
  }
{% endschema %}